.header__fixed
    .back-line.back-line_one
    .back-line.back-line_two
    .back-line.back-line_three
    .back-line.back-line_four
    .back-line.back-line_five
    .back-line.back-line_six
    .container
        a.logo(href="/")
            img(src="/img/logo.svg" alt="")
        .header__actions
            a.header__link-phone(href="tel:+79853052525")
                img(src="/img/icon-phone.svg" alt="")
            button.modal-header-toggle
                span
                span
                span
        .header__contacts
            a(href="tel:+79853052525") + 7 (985) 305-25-25
            button.consultation-show-btn Быстрая консультация

.container
    h1.header__title Дизайнерские домики для домашних питомцев
    h2.header__sumtitle из ценных пород дерева - Дуба и Бука