.container
    a.logo(href="/")
        img(src="/img/logo.svg" alt="")
    .header__actions
        a.header__link-phone(href="tel:+79853052525")
            img(src="/img/icon-phone.svg" alt="")
        button.modal-header-toggle
            span
            span
            span
.container
    h1.header__title Дизайнерские домики для домашних питомцев
    h2.header__sumtitle из ценных пород дерева - Дуба и Бука