.container
    .footer__actions
        a.footer__privacy(href="/privacy.html") Политика конфиденциальности
        a(href="/") Домик в Доме
    a.footer__creator(href="https://quiz24.ru/") Сделано Quiz24