@import "../../../../../scss/variables";

.get-contact {
    margin-top: -11px;
    overflow: hidden;
    height: auto;
    opacity: 0;
    max-height: 2000px;

    @media (min-width: $md) {
        margin-top: -70px;
    }

    &.collapsed {
        opacity: 0 !important;
        max-height: 0 !important;
        transition: max-height .9s ease-out, opacity .4s linear;
    }

    &.active {
        opacity: 1;

        .animation-el {
            opacity: 1 !important;
            transform: translateY(0) scale(1) !important;
        }
    }

    .animation-el {
        opacity: 0;
        transform: translateY(7px);
        transition: all .3s ease-out;
    }

    path {
        transition: all .2s linear;
    }

    &__loader {
        display: block;
        margin: 0 auto 17px;
        width: 71px;
        height: 71px;
        transform: translateY(7px) scale(0.8) !important;
        transition-delay: .4s !important;

        @media (min-width: $md) {
            margin-bottom: 30px;
        }

        @media (min-width: $lg) {
            width: 120px;
            height: 120px;
            margin-bottom: 53px;
        }
    }

    &__caption {
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: -0.02em;
        transition-delay: .6s !important;

        @media (min-width: $md) {
            font-size: 20px;
            line-height: 1.3;
        }

        @media (min-width: $lg) {
            font-size: 22px;

        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        margin-top: 25px;
        transition-delay: .8s !important;

        @media (min-width: $md) {
            margin-top: 60px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 15px;

        @media (min-width: $md) {
            width: 285px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__subtitle {
        max-width: 480px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 25px;

        @media (min-width: $md) {
            width: 480px;
            font-size: 16px;
            line-height: 20px;
            margin-top: 25px;
            margin-bottom: 60px;
        }
    }

    &__form {
        display: block;
        position: relative;
        width: 288px;
        height: auto;

        input:checked ~ .icon .icon-body {
            fill: $color-font-secondary;
        }

        input:checked ~ .icon_whatsapp .icon-background {
            fill: url("#whatsappIconLinearGradient");
        }

        input:checked ~ .icon_telegram .icon-background {
            fill: url("#teleIconLinearGradient");
        }

        input:checked ~ .icon_phone .icon-background {
            fill: $color-accent;
        }

        input:checked ~ .caption {
            color: $color-font-primary;
        }

        button {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 25px;
        }
    }

    &__connects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 25px;

        li {
            display: block;
            justify-content: flex-start;
            width: 33.333%;

            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                cursor: pointer;
            }

            .icon {
                display: block;
                width: 36px;
                height: 36px;
                margin-bottom: 10px;
            }

            .caption {
                display: flex;
                align-items: center;
                height: 26px;
                font-size: 11px;
                line-height: 13px;
                text-align: center;
                color: #BDBDBD;
                transition: color .2s linear;
                margin-bottom: 10px;
            }

            .checker {
                display: block;
                width: 25px;
                height: 25px;
                position: relative;

                @media (min-width: $md) {
                    width: 32px;
                    height: 32px;
                }

                &::before {
                    background-image: url("/img/check-passive-icon.svg");
                }
                &::after {
                    background-image: url("/img/check-active-icon.svg");
                }
            }
        }
    }

    &__pic-caption {
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 5px;

        @media (min-width: $lg) {
            display: none;
        }
    }

    &__pic-text {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 20px;

        @media (min-width: $lg) {
            display: none;
        }
    }

    &__image {
        display: block;
        margin-bottom: 20px;

        @media (min-width: $md) {
            margin-bottom: 30px;
        }

        @media (min-width: $lg) {
            position: absolute;
            left: 50%;
            margin-left: -552px;
            top: -74px;
        }
    }

    &__banner {
        width: 100%;
        max-width: 1092px;
        margin: 0 auto 25px;

        @media (min-width: $md) {
            margin-top: 25px;
            margin-bottom: 50px;
        }

        @media (min-width: $lg) {

            width: 960px;
            padding: 50px 0;
            border-radius: 10px;
            background: $color-back;
            box-shadow: 0 7px 33px rgba(0, 0, 0, 0.25);
            margin-top: 80px;
            margin-bottom: 80px;
        }

        @media (min-width: $xl) {
            width: 1092px;
        }

        &.animation {
            animation: banner 1.3s linear 0s infinite normal forwards;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-font-primary;
            max-width: 564px;

            @media (min-width: $md) {
                border-radius: 10px;
            }
        }

        .pic {
            display: block;
            position: relative;
            flex: 1 0 auto;
            width: 57px;
            max-width: 57px;
            height: 80px;
            margin: -7px 15px -7px 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/img/lock-close.png");
        }

        .txt {
            display: block;
            position: relative;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $color-font-secondary;
            padding-right: 20px;

            @media (min-width: $lg) {
                font-size: 19px;
                line-height: 23px;
            }
        }
    }
}

.get-contact__image + .get-contact__form {
    @media (min-width: $lg) {
        display: none;
    }
}

@keyframes banner {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}