.progress-bar
    .container
        .progress-bar__wrap
            .progress-bar__step.active
                .progress-bar__point

            .progress-bar__step
                .progress-bar__point

            .progress-bar__step
                .progress-bar__point

            .progress-bar__step
                .progress-bar__point

            .progress-bar__step
                .progress-bar__point

            .progress-bar__step