//- .visible
.thanks-modal#thanksPresentModal
    .thanks-modal__content
        button.thanks-modal__close
        img(src="/img/icon-person.jpg" alt="")
        h4 отлично!
        p Ваш номер изменен

.thanks-modal#thanksCheckPhoneModal
    .thanks-modal__content
        button.thanks-modal__close
        img(src="/img/icon-person.jpg" alt="")
        h4 отлично!
        p Сообщение отправлено

.thanks-modal#thanksSendPhotos
    .thanks-modal__content
        button.thanks-modal__close
        img(src="/img/icon-person.jpg" alt="")
        h4 спасибо!
        p В течении 30 минут наш дизайнер вам перезвонит