.modal-header#modalHeader
    .back-line.back-line_one
    .back-line.back-line_two
    .back-line.back-line_three
    .back-line.back-line_four
    .back-line.back-line_five
    .back-line.back-line_six
    .modal-header__caption
        .container
            a.logo(href="/")
                img(src="/img/logo.svg" alt="")
            p.modal-header__txt Дизайнерская мебель из натурального дерева для кошек и собак
            button.modal-header-toggle
                span
                span
                span

    .modal-header__contacts
        .container
            button.modal-header__link.consultation-show-btn Быстрая консультация
            a.modal-header__phone(href="tel:+79853052525") + 7 (985) 305-25-25