.get-house
    .container
        h2.get-house__title
            | Подберите
            | !{' '}
            strong дизайнерский домик
            | !{' '}
            | ответив на 6 вопросов
        button.get-house__btn ПОДОБРАТЬ ДОМИК
        .get-house__content
            span.get-house__cap получите подбор
            span.get-house__desc дизайнерских домиков для вашего питомца
            img.get-house__pic(src="/img/get-house.jpg" alt="")