@import "../../../../../scss/variables";

.results {
    overflow: hidden;
    height: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height .6s ease-out, opacity .6s ease-out;
    padding-top: 30px;
    margin-top: -20px;

    @media (min-width: $md) {
        margin-top: 0;
    }

    &.active {
        max-height: 9000px;
        opacity: 1;
    }

    &__header {
        margin-top: 40px;
        margin-bottom: 20px;

        @media (min-width: $md) {
            display: flex;
            width: 640px;
            margin-bottom: 50px;
            left: 15px;
        }

        &-person {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 15px;

            @media (min-width: $md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                margin-right: 40px;
            }

            img {
                display: block;
                width: 100px;
                height: 100px;
                margin-left: 24px;
                margin-right: 15px;
                border-radius: 50%;

                @media (min-width: $md) {
                    width: 130px;
                    height: 130px;
                    margin-right: 24px;
                }
            }
        }

        &-name {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            margin-top: 25px;

            @media (min-width: $md) {
                margin-top: 16px;
            }
        }

        &-position {
            display: block;
            font-size: 12px;
            line-height: 15px;

            @media (min-width: $md) {
                text-align: center;
            }
        }

        &-msg {
            span {
                display: block;
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 10px;

                @media (min-width: $md) {
                    margin-top: 53px;
                    margin-bottom: 23px;
                    font-size: 22px;
                    line-height: 27px;
                }
            }

            a {
                font-weight: 500;
                font-size: 11px;
                line-height: 13px;
                text-decoration-line: underline;
                color: $color-font-primary;

                @media (min-width: $md) {
                    font-size: 14px;
                    line-height: 17px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__present {
        position: relative;
        width: 100%;
        max-width: 1089px;
        padding: 20px;
        margin: 0 auto 25px;
        background-color: #f2f2f2;

        @media (min-width: $md) {
            margin-bottom: 58px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            padding: 16px 16px 25px;
            border: 1px solid $color-accent;

            @media (min-width: $md) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 44px 350px 45px 25px;
            }

            @media (min-width: $xl) {
                padding: 44px 300px 45px 57px;
            }
        }

        &-title {
            display: block;
            width: 100%;
            height: auto;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-bottom: 20px;

            @media (min-width: $md) {
                width: 610px;
                text-align: left;
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 29px;
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        &-photo {
            display: block;
            width: 116px;
            height: 93px;
            margin-right: 8px;

            @media (min-width: $md) {
                position: absolute;
                width: 300px;
                height: auto;
                right: 25px;
                top: 50px;
                margin-right: 0;
            }

            @media (min-width: $lg) {
                width: 370px;
                top: 44px;
            }

            @media (min-width: $xl) {
                width: 370px;
                right: 67px;
            }
        }

        &-subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;

            @media (min-width: $md) {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                width: 300px;
                margin-bottom: 23px;
            }
        }

        &-content {
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-size: 14px;
                line-height: 17px;
                margin-bottom: 30px;
                width: 100%;
                max-width: 500px;
                text-align: left;
            }

            br {
                display: none;

                @media (min-width: $md) {
                    display: inline;
                }
            }
        }

        label {
            width: 244px;
            margin-bottom: 15px;

            @media (min-width: $lg) {
                margin-bottom: 0;
                margin-right: 20px;
            }
        }

        button {
            @media (min-width: $md) {
                margin: 0;
            }
        }
    }

    &__slider {
        &-title {
            display: block;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 5px;

            @media (min-width: $md) {
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 16px;
            }
        }

        &-subtitle {
            display: block;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            margin-bottom: 15px;
            padding: 0 35px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 46px;
            }
        }

        &-war {
            display: flex;
            align-items: center;
            position: relative;
            font-weight: 600;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 5px;
            margin-left: 4.6875vw;

            @media (min-width: $md) {
                width: 381px;
                margin: 0 auto 5px;
            }

            &::after {
                content: "";
                display: block;
                margin-left: 5px;
                width: 11px;
                height: 11px;
                background: url("/img/i-hand.svg") center no-repeat;
                animation: hand 1.3s linear 0s infinite normal forwards;
            }
        }
    }

    &__consultation  {
        position: relative;
        padding-top: 25px;
        border-top: 1px solid $color-back-line;

        @media (min-width: $md) {
            left: 11px;
            padding-top: 60px;
            padding-bottom: 70px;
        }

        @media (min-width: $lg) {
            padding-bottom: 100px;
        }

        @media (min-width: $xl) {
            padding-bottom: 171px;
        }

        .container {
            @media (min-width: $md) {
                display: flex;
                align-items: stretch;
                justify-content: center;
                width: 665px !important;
            }
        }

        &__title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 15px;
            
            @media (min-width: $md) {
                font-size: 22px;
                line-height: 27px;
                text-align: left;
                margin-bottom: 28px;

            }
        }

        &__subtitle {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
                padding-right: 20px;
            }
        }

        &__direction {
            position: relative;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding-left: 14px;
            margin-bottom: 20px;

            @media (min-width: $md) {
                margin-bottom: 0;
                padding-left: 0;
                position: absolute;
                bottom: 23px;
                font-size: 16px;
                line-height: 20px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 8px;
                height: 17px;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background: url("/img/icon-arrow.svg") center no-repeat;

                @media (min-width: $md) {
                    width: 121px;
                    height: 16px;
                    top: auto;
                    bottom: -17px;
                    transform: none;
                    background: url("/img/arr-front.svg") center no-repeat;
                }
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-color: #f2f2f2;
            padding: 20px 30px 30px;
            margin-bottom: 25px;

            @media (min-width: $md) {
                margin-bottom: 0;
                width: 316px;
                flex: 1 0 auto;
                padding-bottom: 45px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                top: 5px;
                left: 5px;
                z-index: 0;
                border: 1px solid $color-back-line;
            }

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 -5px 25px;

                @media (min-width: $md) {
                    margin-bottom: 36px;
                }

                img {
                    flex: 1 0 auto;
                    display: block;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin-right: 20px;
                    transition: all .3s linear;
                }

                span {
                    display: block;
                    position: relative;
                    font-size: 14px;
                    line-height: 17px;
                    transition: all .3s linear;
                    max-width: 200px;
                    max-height: 100px;
                    overflow: hidden;
                    height: auto;
                    opacity: 1;
                }
            }

            label {
                display: block;
                position: relative;
                margin-bottom: 10px;
                width: 224px;
                opacity: 1;
                max-height: 70px;
                transition: all .3s linear;

                @media (min-width: $md) {
                    margin-bottom: 15px;
                }
            }

            input {
                @media (min-width: $md) {
                    height: 45px;
                }
            }

            .actions {
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 224px;

                opacity: 1;
                max-height: 300px;
                transition: all .3s linear;

                @media (min-width: $md) {
                    margin-bottom: 20px;
                }

                #addFile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    flex: 1 0 auto;
                    width: 100px;
                    height: 30px;
                    background-color: #e0e0e0;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 125%;
                    color: #828282;
                    cursor: pointer;

                    img {
                        display: block;
                        position: relative;
                        margin-right: 5px;
                    }
                }

                .show-camera {
                    margin-right: 4px;
                }
            }

            .file-previews {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                margin-left: 5px;
                padding-top: 10px;
                padding-bottom: 5px;
                opacity: 1;
                max-height: 300px;
                transition: all .3s linear;

                label {
                    display: block;
                    position: relative;
                    width: 25%;
                    height: 100px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    background-color: #e0e0e0;
                    background-position: center;
                    background-repeat: no-repeat;

                    .delete-file {
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        top: 0;
                        left: 0;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 3px;
                            right: 3px;
                            width: 20px;
                            height: 20px;
                            border: 2px solid $color-back;
                            border-radius: 50%;
                            background: url("/img/icon-delete.svg") center no-repeat;
                            background-size: 50%;
                        }
                    }
                }
            }

            #button {
                opacity: 1;
                max-height: 70px;
                transition: all .3s linear;
            }

            &.loading {
                .header {
                    img {
                        margin-right: 0;
                    }

                    span {
                        max-height: 0;
                        max-width: 0;
                        opacity: 0;
                    }
                }

                label,
                button,
                .actions,
                .file-previews {
                    opacity: 0;
                    max-height: 0;
                    padding: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &.prefinish {
                .form-loader {
                    opacity: 1;
                    max-height: 150px;
                }
            }

            &.loaded {
                .finish {
                    opacity: 1;
                    max-height: 50px;
                }
            }

            .form-loader {
                opacity: 0;
                height: auto;
                max-height: 0;
                overflow: hidden;
                transition: all .3s linear;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;

                h5 {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    text-align: center;
                }

                .spinner {
                    display: block;
                    width: 100%;
                    height: 40px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    background: url("/img/spinner.svg") center no-repeat;
                }

                .txt {
                    display: block;
                    width: 100%;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: center;
                }
            }

            .finish {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                opacity: 0;
                height: auto;
                max-height: 0;
                overflow: hidden;
                transition: all .3s linear;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;

            }

            [type="submit"] {
                display: block;
                position: relative;
                width: 224px;
            }
        }
    }

    &__production {
        padding-top: 25px;
        border-top: 1px solid $color-back-line;

        @media (min-width: $md) {
            padding-top: 60px;
        }

        h5 {
            @media (min-width: $md) {
                margin-bottom: 12px;
            }
        }

        span {
            @media (min-width: $md) {
                margin-bottom: 43px;
            }
        }
    }

    &__paint {
        margin-bottom: 25px;

        @media (min-width: $md) {
            padding-bottom: 59px;
            border-bottom: 1px solid $color-back-line;
        }

        &-header {
            @media (min-width: $md) {
                width: 500px;
                margin: 0 auto 62px;
                text-align: center;
                padding-top: 25px;
            }
        }

        .results__slider-title {
            @media (min-width: $md) {
                font-weight: normal;
                font-size: 22px;
                line-height: 27px;
                display: inline;
                padding: 0;
                margin: 0;
            }
        }

        .results__slider-subtitle {
            @media (min-width: $md) {
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                display: inline;
                padding: 0 0 0 7px;
                margin: 0;
            }
        }

        &-pic {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
    }

    &__footer {
        @media (min-width: $md) {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 400px;
            margin: 0 auto 25px;
            padding-top: 35px;
            position: relative;
        }

        @media (min-width: $lg) {
            flex-direction: row;
            justify-content: space-between;
            max-width: 788px;
            left: 71px;
        }
    }

    &__quality {
        padding-top: 25px;
        margin-bottom: 25px;
        border-top: 1px solid $color-back-line;

        @media (min-width: $md) {
            border: none;
            padding: 0;
            margin: 0;
            width: 400px;
        }

        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 25px;

            @media (min-width: $md) {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 35px;
            }

            @media (min-width: $lg) {
                text-align: left;
            }
        }

        ul {
            position: relative;

            @media (min-width: $md) {
                left: 20px;
            }

            @media (min-width: $lg) {
                left: 0;
            }
        }

        li {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            padding-left: 40px;
            margin-bottom: 15px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 20px;
                padding-left: 0;
                margin-bottom: 26px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 5px;
                left: 0;
                width: 25px;
                height: 25px;
                background: url("/img/icon-list-check.svg") center no-repeat;

                @media (min-width: $md) {
                    width: 39px;
                    height: 39px;
                    background-size: cover;
                    left: -64px;
                    top: 0;
                }
            }

            a {
                font-weight: 500;
                font-size: 9px;
                line-height: 11px;
                text-decoration-line: underline;
                color: #4f4f4f;

                @media (min-width: $md) {
                    font-size: 12px;
                    line-height: 15px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &__callback {
        padding-top: 25px;
        margin-bottom: 25px;
        border-top: 1px solid $color-back-line;

        @media (min-width: $md) {
            border: none;
            padding: 0;
            margin: 50px 0 0;
        }

        @media (min-width: $lg) {
            margin-top: 0;
        }

        &-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 25px;

            @media (min-width: $md) {
                font-size: 14px;
                line-height: 17px;
            }
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            background-color: #f2f2f2;
            padding: 20px 30px 30px;
            margin-bottom: 25px;

            @media (min-width: $md) {
                padding-top: 32px;
                padding-bottom: 40px;
            }

            @media (min-width: $lg) {
                width: 310px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                top: 5px;
                left: 5px;
                z-index: 0;
                border: 1px solid $color-back-line;
            }

            h4 {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                margin-bottom: 15px;

                @media (min-width: $md) {
                    margin-bottom: 23px;
                }
            }

            label {
                display: block;
                position: relative;
                margin-bottom: 10px;
                width: 224px;

                @media (min-width: $md) {
                    margin-bottom: 15px;
                }
            }

            input {
                @media (min-width: $md) {
                    height: 45px;
                    padding: 0;
                }
            }

            [type="submit"] {
                display: block;
                position: relative;
                font-size: 12px;
                line-height: 15px;
                width: 224px;

                @media (min-width: $md) {
                    margin-top: 10px;
                    height: 45px;
                }
            }
        }
    }

    &__banner {
        &.animation {
            animation: banner 1.3s linear 0s infinite normal forwards;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $color-font-primary;
            max-width: 564px;

            @media (min-width: $md) {
                border-radius: 10px;
            }
        }

        .pic {
            display: block;
            position: relative;
            flex: 1 0 auto;
            width: 57px;
            max-width: 57px;
            height: 80px;
            margin: -7px 15px -7px 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/img/lock-open.png");
        }

        .txt {
            display: block;
            position: relative;
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: $color-font-secondary;
            padding-right: 20px;

            @media (min-width: $lg) {
                font-size: 19px;
                line-height: 23px;
                padding-right: 0;
            }
        }
    }
}

.slider {
    position: relative;
    width: 100%;
    margin-bottom: 46px;
    padding-left: 4.6875vw;
    border-top: 1px solid $color-back-line;
    border-bottom: 1px solid $color-back-line;

    @media (min-width: $md) {
        padding-left: 0;
        margin-bottom: 67px;
    }

    .swiper {
        @media (min-width: $md) {
            width: 768px;
            margin: 0 auto;
        }
    }

    .swiper-pagination {
        bottom: -25px !important;

        @media (min-width: $md) {
            bottom: -31px !important;
        }
    }

    .swiper-pagination-bullet {
        margin: 0 2px !important;
        background-color: #e0e0e0;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #bdbdbd;
    }

    &__slide {
        width: auto;
    }

    .swiper-slide-active {
        .slider__image {
            filter: grayscale(0%);
            opacity: 1;
            height: 240px;
            top: 0;

            @media (min-width: $md) {
                height: 358px;
            }
        }
    }

    &__image-wrap {
        position: relative;
        width: 250px;
        height: 240px;

        @media (min-width: $md) {
            width: 381px;
            height: 358px;
        }
    }

    &__image {
        display: block;
        position: relative;
        top: 10px;
        height: 220px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all .3s linear;
        filter: grayscale(100%);
        opacity: 0.77;

        @media (min-width: $md) {
            height: 328px;
            top: 15px;
        }
    }

    &__image img {
        display: block;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}

@keyframes hand {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    10% { transform: translateX(0); }
}