@import "../../../../../scss/variables";

.questions-list {
    position: relative;
    padding-top: 26px;
    padding-bottom: 25px;

    @media (min-width: $md) {
        padding-top: 50px;
        padding-bottom: 77px;
    }

    @media (min-width: $lg) {
        padding-top: 71px;
    }
}

.question {
    @media (min-width: $md) {
        display: flex;
        flex-direction: column;
    }

    &-controller {
        @media (min-width: $lg) {
            cursor: pointer;
        }
    }

    &.active {
        .question__title {
            transform: translateY(0);
            opacity: 1;
            transition-delay: 0s;
        }

        .question__content {
            transform: translateY(0);
            opacity: 1;
            transition-delay: .2s;
        }

        .question__banner {
            transform: translateY(0);
            opacity: 1;
            transition-delay: .4s;
        }

        .question__back {
            transform: translateY(0);
            opacity: 1;
            transition-delay: .6s;
        }
    }

    &__title {
        max-width: 600px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 0 25px;
        text-align: center;
        transform: translateY(7px);
        opacity: 0;
        transition: all .3s ease-out;

        @media (min-width: $md) {
            font-size: 22px;
            line-height: 25px;
            order: 1;
        }

        @media (min-width: $lg) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        transform: translateY(7px);
        opacity: 0;
        transition: all .3s ease-out;
        margin: 25px auto 0;

        @media (min-width: $md) {
            max-width: 580px;
            margin-top: 40px;
            order: 2;
        }

        @media (min-width: $lg) {
            margin-top: 60px;
        }
    }

    &__controller-wrap {
        position: relative;

        .zoom {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 4px;
            width: 50px;
            height: 50px;
            cursor: pointer;

            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 5px;
                left: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $color-font-primary url("/img/icon-zoom.svg") center no-repeat;
                background-size: 50%;

                @media (min-width: $md) {
                    width: 30px;
                    height: 30px;
                    background-size: 40%;
                }
            }
        }
    }

    &__pic-card {
        display: block;
        position: relative;
        width: 140px;
        height: 165px;
        margin: 0 4px 8px;

        @media (min-width: $md) {
            width: 276px;
            height: 250px;
            margin: 0 6px 12px;
        }

        .img {
            display: block;
            position: relative;
            z-index: 0;
            width: 100%;
            height: 120px;
            border: 3px solid transparent;
            background-size: calc(100% + 6px);
            background-repeat: no-repeat;
            background-position-x: -3px;
            background-position-y: -3px;
            transition: border-color .2s linear;

            @media (min-width: $md) {
                height: 183px;
            }
        }

        .value {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 0;
            width: 100%;
            height: 45px;
            padding-left: 45px;
            background-color: $color-font-primary;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $color-back-dark;
            transition: background-color .3s linear;

            @media (min-width: $md) {
                height: 67px !important;
                font-size: 16px !important;
                line-height: 20px !important;
                padding-left: 84px !important;
            }
        }

        .checker {
            &::before,
            &::after {
                left: 10px;

                @media (min-width: $md) {
                    left: 31px !important;
                }
            }
        }

        .zoom {
            display: block;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;

            &::before {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 5px;
                left: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $color-font-primary url("/img/icon-zoom.svg") center no-repeat;
                background-size: 50%;
            }
        }
    }

    &__radio-card {
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        @media (min-width: $md) {
            width: 276px;
            margin: 0 auto 15px;
        }

        .value {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            height: 50px;
            background-color: $color-font-primary;
            padding-left: 65px;
            padding-right: 10%;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: $color-back-dark;
            transition: background-color .3s linear;

            @media (min-width: $md) {
                height: 60px;
                font-size: 14px;
                line-height: 17px;
                padding-left: 77px;
                padding-right: 10px;
            }

            &.small-txt {
                font-size: 12px;
                line-height: 15px;
            }
        }

        .checker {
            &::before,
            &::after {
                left: 20px;

                @media (min-width: $md) {
                    left: 30px;
                }
            }
        }

        .toggle {
            display: block;
            position: absolute;
            top: 5px;
            right: 0;
            width: 40px;
            height: 40px;
            margin-right: 5px;
            cursor: pointer;

            @media (min-width: $md) {
                top: 10px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("/img/icon-arr-down.svg") center no-repeat;
                transform: scale(1, 1);
                transition: all 0.2s;
            }
        }

        .comment {
            display: block;
            width: 100%;
            overflow-y: hidden;
            max-height: 0;
            height: auto;
            background-color: $color-font-primary;
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
            color: $color-font-secondary;
            transition: all .3s linear;

            @media (min-width: $md) {
                font-size: 11px;
                line-height: 1.4;
            }

            span {
                display: block;
                padding: 0 27px 15px 65px;

                @media (min-width: $md) {
                    padding: 0 40px 20px;
                }
            }
        }

        &.open-comment {
            .toggle::before {
                transform: scale(1, -1);
            }

            .comment {
                max-height: 100px;
                overflow-y: initial;
            }
        }
    }

    &__banner {
        margin-top: 20px;
        transform: translateY(7px);
        opacity: 0;
        transition: all .3s ease-out;

        @media (min-width: $md) {
            order: 4;
            margin-top: 50px;
        }

        @media (min-width: $lg) {
            max-width: 960px;
            left: 50%;
            position: relative;
            margin-left: -480px;
            overflow: hidden;
        }

        @media (min-width: $xl) {
            max-width: 1089px;
            margin-left: -544px;
        }
    }

    &__ticker {
        position: relative;
        width: 100%;
        height: 25px;
        background: #dcdcdc;

        @media (min-width: $md) {
            height: 35px;
        }

        &-wrap {
            position: absolute;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 1500px;
            height: 100%;
            top: 0;
            left: 0;
            animation: ticker 15s linear 0s infinite normal forwards;
        }

        li {
            display: block;
            margin: 0 68px;
            white-space: nowrap;
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 61.25%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #f5f5f5;

        @media (min-width: $md) {
            width: 727px;
            margin: 0 auto;
            padding-bottom: 445px;
        }

        &::before,
        &::after {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            padding: 2.1874vw 3.125vw;
            font-weight: 500;
            font-size: 3.125vw;
            line-height: 12px;
            white-space: nowrap;
            color: $color-font-secondary;

            @media (min-width: $md) {
                padding: 8px 20px;
            }
        }

        &::before {
            content: "Система начала подбор";
            top: 0;
            background-color: rgba(198, 181, 92, 0.85);
            border-radius: 0 0 10px 10px;

            @media (min-width: $md) {
                font-size: 12px;
                line-height: 15px;
            }
        }

        &::after {
            content: "Продолжайте отвечать на вопросы";
            bottom: 0;
            background-color: rgba(61, 61, 61, 0.85);
            border-radius: 10px 10px 0 0;

            @media (min-width: $md) {
                font-size: 14px;
                line-height: 17px;
            }
        }

    }

    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 244px;
        height: 40px;
        margin: 25px auto 0;
        background: $color-accent;
        transform: translateY(7px);
        opacity: 0;
        transition: all .3s ease-out;

        @media (min-width: $md) {
            order: 3;
            width: 276px;
            height: 60px;
            margin: 36px auto 0;
            cursor: pointer;
        }

        &::before {
            content: "";
            display: block;
            width: 56px;
            height: 10px;
            margin-left: -20px;
            background: url("/img/arr-back.svg") center no-repeat;

            @media (min-width: $md) {
                width: 20px;
                background-position: left center;
                margin-left: -14px;
            }
        }

        &::after {
            content: "Назад";
            display: block;
            position: relative;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: $color-font-secondary;
            margin-left: 10px;

            @media (min-width: $md) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

@keyframes ticker {
    0% { left: 0; }
    100% { left: -1471px; }
}

#apartmentRenovationStyle {
    .value {
        padding-left: 40px;
        font-size: 12px;
        line-height: 15px;
    }

    .checker:after,
    .checker:before {
        left: 10px;
    }

    .question__radio-card {
        @media (min-width: $md) {
            width: 563px;

            .value {
                height: 67px;
                font-size: 16px;
                line-height: 20px;
                padding-left: 84px;
            }

            .checker:after,
            .checker:before {
                left: 31px !important;
            }
        }
    }
}

.checker {
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transition: opacity .2s linear;

        @media (min-width: $md) {
            width: 32px;
            height: 32px;
        }
    }

    &::before {
        background: url("/img/check-passive.svg") center no-repeat;
        background-size: cover;
    }

    &::after {
        background: url("/img/check-active.svg") center no-repeat;
        background-size: cover;
        opacity: 0;
    }
}

input[type="radio"]:checked ~ .checker::after {
    opacity: 1;
}
input[type="radio"]:checked ~ .img {
    border-color: $color-accent;
}
input[type="radio"]:checked ~ .value {
    background-color: $color-accent;
}
input[type="radio"]:checked ~ .comment {
    background-color: $color-accent;
}

.fancybox__container {
    .fancybox__nav,
    .fancybox__button--zoom,
    .fancybox__button--slideshow,
    .fancybox__button--fullscreen ,
    .fancybox__toolbar div:first-child {
        display: none;
    }

    .fancybox__backdrop {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
    }

    .fancybox__caption {
        color: $color-font-primary;
        font-size: 14px;
        font-weight: 600;
    }

    .carousel__button {
        svg {
            display: none;
        }

        display: block;
        position: absolute;
        top: 0 !important;
        width: 50px;
        height: 50px;
        z-index: 1;
        border-radius: 0;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 13px;
            height: 2px;
            background-color: $color-font-primary;
            -webkit-transition: background-color .2s linear;
            -o-transition: background-color .2s linear;
            transition: background-color .2s linear;
        }

        &::before {
            transform: translate(-50%,-50%) rotate(52deg);
        }

        &::after {
            transform: translate(-50%,-50%) rotate( -52deg);
        }

        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
    }
}