.questions-list
    include question-cards/start

    include question-cards/catQuestion2
    include question-cards/catQuestion3

    include question-cards/dogQuestion2
    include question-cards/dogQuestion3

    include question-cards/sleepingInBad
    include question-cards/apartmentRenovationType
    include question-cards/apartmentRenovationStyle
