@import "../scss/variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    outline: none !important;
}

body, html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $color-font-primary;
}

.header,
.footer {
    flex: none;
}

.main {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin: 0 auto;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button {
    background: none;
    margin: 0;
    padding: 0;
}

input {
    outline: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-input-placeholder {
        color: $color-font-primary;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &::-moz-placeholder {
        color: $color-font-primary;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:-moz-placeholder {
        color: $color-font-primary;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:-ms-input-placeholder {
        color: $color-font-primary;
        opacity: 1;
        transition: opacity 0.2s ease;
    }

    &:focus::-webkit-input-placeholder {
        color: $color-font-primary;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus::-moz-placeholder {
        color: $color-font-primary;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus:-moz-placeholder {
        color: $color-font-primary;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:focus:-ms-input-placeholder {
        color: $color-font-primary;
        opacity: 0;
        transition: opacity 0.2s ease;
    }
}

// Удаление иконки очистки поля в IE
input[type="text"]::-ms-clear {
    display: none;
}

// Удаление иконки отображения пароля в IE
input[type="password"]::-ms-reveal {
    display: none;
}

.btn {

    &:hover {
        
    }

    &.inactive {

    }
}

.back-line {
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $color-back-line;
    z-index: 0;

    &_one { left: 15px; }
    &_two { left: 38px; }
    &_three { right: 64px; }
    &_four { right: 15px; }
}

.logo {
    width: 74px;
    height: 48px;
    margin-top: 15px;
}

.hidden {
    display: none;
}

.unvisible {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}