// Colors
$color-font-primary: #3d3d3d;
$color-font-secondary: #ffffff;
$color-accent: #c6b55c;
$color-btn: #d0b526;
$color-back-line: #e3e3e3;
$color-back: #ffffff;
$color-back-dark: #ebebeb;


// Media quires
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;

