.loader.hidden#loader
    .loader__progress
        .progress
            .value#progressVal 0%
            svg(viewBox="0 0 64 64" width="64" height="64" xmlns="http://www.w3.org/2000/svg")
                circle.bar.animation(cx="32" cy="32" r="27")

    .loader__txt.show Формируем предварительный результат

